main{
    background-image:url("../img/booksBackground.svg");
    padding-block:3rem;
}

.mainContainer{
    width:70%;
    margin-inline:auto;
}

.mainContainer h1{
    width:30rem;
    font-size:2rem;
    padding:1rem 1.5rem 0.5rem 1.5rem;
    margin:1rem auto 0 auto;
}

.detailInfo {
    width:60%;
    margin-inline:auto;
}

.topicBookInfo{
    margin:1.5rem auto 3rem auto;
    width:100%;
}

.topicBookInfo th,
.topicBookInfo td{
    width:100%;
    padding:1rem 3rem;
    display: block;
    text-align: left;
    margin-inline:auto;
}
.topicBookInfo th{
    background-color: #b9b9b9;
    font-size:1.25rem;
}
.topicBookInfo td{
    background-color: #ffffff;
    font-size:1.25rem;
}
.sectionContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mypageSection{
    width:20rem;
    height:20rem;
    background:#707070;
    margin:1rem 3rem;
}
